@use "../../config/colours.scss" as c;

.footer {
  background: c.$white;
  color: c.$darkBlue;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  box-shadow: c.$boxShadowBlack 1px 1px 1px 1px;

  .iconContainer {
    display: flex;
    align-items: center;

    .icon {
      height: 30px;
      padding: 0 10px;
      cursor: pointer;
      color: c.$darkBlue;

      &:hover {
        color: c.$lightBlue;
      }
    }
  }
}
