@use "../../app/colours.scss" as c;

.footer {
  background: #faf9f6;
  color: c.$darkBlue;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: black 2px 2px 2px 2px;

  .iconContainer {
    display: flex;
    align-items: center;

    .icon {
      height: 30px;
      padding: 0 10px;
      cursor: pointer;
      color: c.$darkBlue;

      &:hover {
        color: c.$lightBlue;
      }
    }
  }
}
