@use "../../app/colours.scss" as c;

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  color: c.$babyBlue;

  .navItem {
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      color: c.$pink;
    }

    .icon {
      height: 25px;
      padding-right: 10px;
    }
  }
}
