@use "../../config/colours.scss" as c;

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  color: c.$babyBlue;

  .navItem {
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;

    a {
      color: c.$babyBlue;
      text-underline-offset: 2px;
      text-decoration: none;

      &:hover {
        color: c.$pink;
        text-decoration: underline;
      }
    }

    .icon {
      height: 25px;
      padding-right: 10px;
    }
  }
}
