@use "../../app/colours.scss" as c;

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: c.$lightBlue;

  .avatar {
    border: c.$lightBlue 4px solid;
  }

  .typewriter {
    font-size: 18px;
  }

  .title {
    padding-right: 20px;
  }
}
