@use "../../config/colours.scss" as c;

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: c.$babyBlue;

  .avatar {
    border: c.$babyBlue 4px solid;
    border-radius: 50%;
  }

  .typewriter {
    font-size: 18px;
  }

  .title {
    padding-right: 20px;
  }
}
